extends layout

block content
    .container
        h1 About me
        img(src="images/me.jpg", alt="Photo of me", height=400, width = 300)
        p Chocolate powder marshmallow pudding jujubes jelly-o. Halvah liquorice croissant fruitcake sweet marzipan. Chocolate tiramisu jujubes gingerbread macaroon danish. Marzipan dessert danish macaroon croissant cheesecake cotton candy brownie. Bear claw tiramisu topping dragée. Sugar plum cake dragée pudding jelly tiramisu. Chocolate danish sweet roll marzipan halvah pie lollipop pastry jelly. Jelly beans cake lollipop fruitcake chocolate bar cookie cotton candy. Caramels cake macaroon jujubes carrot cake sesame snaps.