//-
    about.pug
    Shyla Grantmyre
    Portfolio Site
    This file is for the about page
    
extends layout

block content
    .container
        h1 About me
        img(src="images/me.jpg", alt="Photo of me", height=400, width = 300)
        p Hi! I'm a computer programmer and analyst student at Georgian College Barrie! I'm currently finishing up my second year of studies and hope to move on to University after I graduate.