//-
    projects.pug
    Shyla Grantmyre
    Portfolio Snpnpmite
    This file is for the projects page

extends layout


block content
    //- section for images -- option for links in the future
    section.grid-container
    .grid
        a.grid-item(href='#')
            img(src='images/example1.JPG' width = 400 height = 200)
            h6 Simple Styles
        a.grid-item(href='#')
            img(src='images/example2.JPG' width = 400 height = 200)
            h6 JavaScipt To-Do List
        a.grid-item(href='#')
            img(src='images/example3.JPG' width = 400 height = 200)
            h6 JavaScript Match Game





