//-
    services.pug
    Shyla Grantmyre
    Portfolio Site
    This file is for the services page

extends layout

block content
    h1 Development Services Offered
    ul
      li Java 
      li Web 
      li Swift 
      li ASP.NET 